body {
    font-family: Arial;
}

/* format links */
a{
    color: #000;
}

a:hover{
    color:grey;
}

/* format icons (i class */
i{
    font-size:24px;
    padding: 5px;
}

/* format sizes */
.size28{
    font-size:28px;
    font-weight: bold;
}

.size18{
    font-size:18px;
}

.size14{
    font-size:14px;
}

.size12{
    font-size:12px;
}

.size14b{
    font-size:14px;
    font-weight: bold;
}

.size12{
    font-size:12px;
}

.first {
    line-height: 35px;
}

.button{
    position:absolute;
    bottom:0;
    right:0; 

    background-color:black; 
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Split the screen in half */
.split {
    height: 62%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding: 30px; 
  }
  
/* Control the left side */
.left {

    border-right:1px solid black;
    border-left:20px solid black;
    border-top:20px solid black;
    border-bottom:20px solid black;

    left: 0;
    background-color: white;
}
  
/* Control the right side */
.right {

    border-left:1px solid black;
    border-right:20px solid black;
    border-top:20px solid black;
    border-bottom:20px solid black;

    right: 0;
    background-color: white;
}

.white{
    color:white;
}
/* If you want the content centered horizontally and vertically
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
  
  /* Style the image inside the centered container, if needed */
  /* .centered img {
    width: 150px;
    border-radius: 50%;
  }  */

td{
    padding-right: 15px;
}